{% extends "layout.html" %}

{% block title %}Profile{% endblock %}


{% block content %}


<section class="main-container">
	<div class="sub-container">
		<aside class="side-menu">
			<div class="image">
				<a href="#" data-profile="change picture" class="profile_pic">
					<svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					</svg>
				</a>
				</div>
				<div class="profile__header">
					<h2>{{ current_user.f_name }} {{ current_user.l_name }}</h2>
					<p>Joined: {{ current_user.user_active.strftime('%d-%m-%y') }}</p>
				</div>
				<hr>
				<!-- user settings -->
				<div class="user_setting">
					<i class="bi bi-sliders"></i>
					<a href="#">settings</a>
				</div>
			</aside>
			<div class="main-content">
				<div class="top-header">
					<a href="{{ url_for('main.new_post') }}" class="btn new__post">new post</a>
				</div>
				<div class="static_content">
					<!-- card 01 -->
					<div class="card_body">
						<h1>0</h1>
						<p>posts</p>
					</div>
					<!-- card 02 -->
					<div class="card_body">
						<h1>0</h1>
						<p>share</p>
					</div>
					<!-- card 03 -->
					<div class="card_body">
						<h1>0</h1>
						<p>comments</p>
					</div>
				</div>
				<div class="user_post_data">
					<table>
						<thead>
							<tr>
								<th>id</th>
								<th>posts</th>
								<th>author</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>4</td>
								<td>
									<div class="actions">
										<a href="#">
											<i class="bi bi-pencil-square"></i>
										</a>
										<a href="#">
											<i class="bi bi-trash3"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}
